<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">
<head>
    <title>Home</title>
    <style>
        .centerpane {
            width: 60%;
            height: available;
            max-height: 350px;
            position: absolute;
            top: 22%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content centerpane">
        <h1><span th:text="${username}"></span>, here are the lessons in logbook <span th:text="${logbookId}"></span>:</h1>
        <h3>You can select a lesson to view, by clicking on it's ID.</h3>
        <table id="logbookLessonsTable" class="table table-hover table-sm bordered">
            <thead>
            <th scope="col">Lesson ID</th>
            <th scope="col">Course ID</th>
            <th scope="col">Lesson Date</th>
            <th scope="col">Lesson Type</th>
            <th scope="col">Lesson Signed?</th>
            <th scope="col">Sign Lesson</th>
            <th scope="col">View Signatures</th>
            </thead>
            <tbody>
            <tr th:each="lesson : ${logbookLessonList}">
                <th scope="row"><a th:href="@{'/lessons/' + ${lesson.getId()}}" th:text="${lesson.getId()}"></a></th>
                <td th:text="${lesson.getCourseId()}"></td>
                <td th:text="${lesson.getLessonDate()}"></td>
                <td th:text="${lesson.getLessonType()}"></td>
                <td th:text="${lesson.getLessonState()}"></td>
                <td>
                    <form action="#" th:action="@{'/canvas/' + ${lesson.id}}" method="get">
                        <button class="btn btn-primary" th:id="'lessonId' + ${lesson.id}" type="submit">
                            <i>Sign Lesson</i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{'/signature/' + ${lesson.id}}" method="get">
                        <button class="btn btn-primary" th:id="'lessonId' + ${lesson.id}" type="submit">
                            <i>Signatures</i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>    
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>