<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:margin-top="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head>
    <title>Home</title>
</head>

<body>

<div layout:fragment="content" align="center">
    <div class="container main-content" align="center">

        <div class="col-lg-10">

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4 column">
                    <div class="card h-100 ">
                        <a href="#"><img class="card-img-top"
                                         src="https://s3.eu-west-2.amazonaws.com/p3-project/store/rsz_1adult-automotive-blur-13861.png "
                                         alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Car (B)</a>
                            </h4>
                            <h5>$2449</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
                                Search
                                Available Dates
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 column">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                         src="https://s3.eu-west-2.amazonaws.com/p3-project/store/trailer.jpg"
                                         alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Large Trailer Car (BE)</a>
                            </h4>
                            <h5>$1994</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
                                Search
                                Available Dates
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 column">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                         src="https://s3.eu-west-2.amazonaws.com/p3-project/store/bike.jpg"
                                         alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Bike (A)</a>
                            </h4>
                            <h5>$1859</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">
                                Search
                                Available Dates
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 column">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Extra Lesson</a>
                            </h4>
                            <h5>$24.99</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal4">
                                Search
                                Available Dates
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 column">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Ice Course Track</a>
                            </h4>
                            <h5>$50</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal5">
                                Search
                                Available Dates
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 column">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">First Aid</a>
                            </h4>
                            <h5>$34.99</h5>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal6">
                                Search
                                Available Dates
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

        <!-- Modal 1 -->
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1Title"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Available Courses</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="tableb" class="table table-sm" style="width: ">
                            <thead>
                            <th scope="col">Course ID</th>
                            <th scope="col">Course Type</th>
                            <th scope="col">Instructor</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Location</th>
                            <th scope="col">Theory Lessons in Weekdays</th>
                            <th scope="col">Number of Students Already Accepted</th>
                            <th scope="col">Apply for the Course</th>
                            </thead>
                            <tbody>
                            <tr th:each="course : ${b_car_list}">
                                <td th:text="${course.getCourseTableID()}"></td>
                                <td th:text="${course.getCourseType()}"></td>
                                <td th:text="${course.getInstructorUsername()}"></td>
                                <td th:text="${course.courseStartDate}"></td>
                                <td th:text="${course.courseLocation}"></td>
                                <td th:text="${course.weekdays}"></td>
                                <td th:text="${course.numberStudents}"></td>
                                <td>
                                    <form th:action="@{/apply}" method="post">
                                        <input type="hidden" name="courseId" id="courseId"
                                               th:value="${course.getCourseTableID()}"/>
                                        <input type="hidden" name="applyStudentUsername" id="applyStudentUsername"
                                               th:value="${#authentication.getPrincipal().getUsername()}"/>
                                        <button type="submit" name="submit" value="value" class="btn btn-success">Apply
                                            for this Course!
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 column">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2Title" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Available Courses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tableb" class="table table-sm" style="width: ">
                        <thead>
                        <th scope="col">Course ID</th>
                        <th scope="col">Course Type</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Theory Lessons in Weekdays</th>
                        <th scope="col">Number of Students Already Accepted</th>
                        <th scope="col">Apply for the Course</th>
                        </thead>
                        <tbody>
                        <tr th:each="course : ${be_car_list}">
                            <td th:text="${course.getCourseTableID()}"></td>
                            <td th:text="${course.getCourseType()}"></td>
                            <td th:text="${course.getInstructorUsername()}"></td>
                            <td th:text="${course.courseStartDate}"></td>
                            <td th:text="${course.courseLocation}"></td>
                            <td th:text="${course.weekdays}"></td>
                            <td th:text="${course.numberStudents}"></td>
                            <td>
                                <form th:action="@{/apply}" method="post">
                                    <input type="hidden" name="courseId" id="courseId"
                                           th:value="${course.getCourseTableID()}"/>
                                    <input type="hidden" name="applyStudentUsername" id="applyStudentUsername"
                                           th:value="${#authentication.getPrincipal().getUsername()}"/>
                                    <button type="submit" name="submit" value="value" class="btn btn-success">Apply
                                        for this Course!
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 column">
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3Title" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Available Courses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tableb" class="table table-sm" style="width: ">
                        <thead>
                        <th scope="col">Course ID</th>
                        <th scope="col">Course Type</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Theory Lessons in Weekdays</th>
                        <th scope="col">Number of Students Already Accepted</th>
                        <th scope="col">Apply for the Course</th>
                        </thead>
                        <tbody>
                        <tr th:each="course : ${a_bike_list}">
                            <td th:text="${course.getCourseTableID()}"></td>
                            <td th:text="${course.getCourseType()}"></td>
                            <td th:text="${course.getInstructorUsername()}"></td>
                            <td th:text="${course.courseStartDate}"></td>
                            <td th:text="${course.courseLocation}"></td>
                            <td th:text="${course.weekdays}"></td>
                            <td th:text="${course.numberStudents}"></td>
                            <td>
                                <form th:action="@{/apply}" method="post">
                                    <input type="hidden" name="courseId" id="courseId"
                                           th:value="${course.getCourseTableID()}"/>
                                    <input type="hidden" name="applyStudentUsername" id="applyStudentUsername"
                                           th:value="${#authentication.getPrincipal().getUsername()}"/>
                                    <button type="submit" name="submit" value="value" class="btn btn-success">Apply
                                        for this Course!
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 column">
            </div>
        </div>
    </div>


    <!-- Modal 4 -->
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4Title" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Available Courses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form method="POST" th:action="@{/applyExtraLesson}">
                        <div>
                    Day : 
                    <select name="day" id="day">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12</option>
                    <option value='13'>13</option>
                    <option value='14'>14</option>
                    <option value='15'>15</option>
                    <option value='16'>16</option>
                    <option value='17'>17</option>
                    <option value='18'>18</option>
                    <option value='19'>19</option>
                    <option value='20'>20</option>
                    <option value='21'>21</option>
                    <option value='22'>22</option>
                    <option value='23'>23</option>
                    <option value='24'>24</option>
                    <option value='25'>25</option>
                    <option value='26'>26</option>
                    <option value='27'>27</option>
                    <option value='28'>28</option>
                    <option value='29'>29</option>
                    <option value='30'>30</option>
                    <option value='31'>31</option>
                    </select>
                    Month : 
                    <select name="month" id="month">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12</option>
                    </select>
                    Year : 
                    <select name='year' id='year'>
                    <option value='2018'>2018</option>
                    <option value='2019'>2019</option>
                    </select>
                        </div>
                    </br>
                    <label for="customRange2">Amount of Lessons</label>
                    <input type="range" class="custom-range" min="1" max="10" id="customRange2" name="customRange2">
                </br>
                    <button type="submit" name="submit" value="value" class="btn btn-primary">Request Lesson</button>
                        </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 column">
            </div>
        </div>
    </div>

    <!-- Modal 5 -->
    <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Available Courses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>To be implemented...</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 column">
            </div>
        </div>
    </div>

    <!-- Modal 6 -->
    <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="modal6Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Available Courses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>To be implemeted...</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 column">
            </div>
        </div>
    </div>
</div>
</body>

</html>